Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

UXTerm*termName: xterm-256color
UXTerm*locale: true

*VT100*utf8: 1
*VT100*eightBitInput: false
*VT100*eightBitControl: false
*VT100*eightBitOutput: true

XTerm*faceName:		Neep
XTerm*faceSize:		13

UXTerm*faceName:	Source Code Pro Semibold
! UXTerm*faceName:	Neep
! UXTerm*faceName:	Ubuntu Mono derivative Powerline
UXTerm*faceSize:	12
! UXTerm*scaleHeight:	1.25
UXTerm*scrollBar:	false
UXTerm*visualBell:	true
UXTerm*saveLines:	10000
UXTerm*fastScroll:	true
UXTerm*cursorBlink:	on
UXTerm*cursorOnTime:	250
UXTerm*cursorOffTime:	250
UXTerm*colorBDMode:	false
UXTerm*colorULMode:	false
UXTerm*italicULMode:	false
UXTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)\n Shift <KeyPress> Insert: insert-selection(CLIPBOARD)\n Super <Btn3Down>: insert-selection(CLIPBOARD)

urxvt.font:		xft:Source Code Pro:size=12
URxvt.boldFont:		xft:Source Code Pro:style=Bold:size=12
URxvt.italicFont:	xft:Source Code Pro:style=Italic:size=12
URxvt.boldItalicFont:	xft:Source Code Pro:style=Bold Italic:size=12

urxvt.letterSpace:	-1
! urxvt.termName:		rxvt-256color
urxvt.loginShell:	false
urxvt.scrollBar:	false
urxvt.saveLines:	65535
urxvt.cursorBlink:	on
urxvt.cursorOnTime:	250
urxvt.cursorOffTime:	250
urxvt.urgentOnBell:	true
urxvt.secondaryScreen:	1
urxvt.secondaryScroll:	0
urxvt.clipboard.copycmd:  xsel -ob
urxvt.clipboard.pastecmd: xsel -ob
urxvt.keysym.S-Insert:	eval:paste_clipboard

urxvt.perl-ext-common:	default,eval,matcher,selection-to-clipboard
urxvt.matcher.button:	1
urxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.rend.0:	Uline fg6

! ! HIGHER BRIGHTNESS CONFIG
! UXTerm*background: #202020
! UXTerm*foreground: #909090
! ! Black, Gray30
! UXTerm*color0: #000000
! UXTerm*color8: #404040
! ! DarkRed, Firebrick
! UXTerm*color1: #C01616
! UXTerm*color9: #E03030
! ! DarkOliveGreen, ForestGreen
! UXTerm*color2: #107010
! UXTerm*color10: #308030
! ! DarkOrange, GoldenRod
! UXTerm*color3: #F07000
! UXTerm*color11: #FF8010
! ! Navy, RoyalBlue4
! UXTerm*color4: #2626C0
! UXTerm*color12: #2A3AC0
! ! DeepPink, DarkVioletRed
! UXTerm*color5: #962076
! UXTerm*color13: #E020A0
! ! DeepSkyBlue4
! UXTerm*color6: #4050B0
! UXTerm*color14: #5060C0
! ! SlateGray
! UXTerm*color7: #708090
! UXTerm*color15: #90A0B0


! ! HIGHER BRIGHTNESS CONFIG
! URxvt*background: #202020
! URxvt*foreground: #909090
! ! Black, Gray30
! URxvt*color0: #000000
! URxvt*color8: #404040
! ! DarkRed, Firebrick
! URxvt*color1: #C01616
! URxvt*color9: #E03030
! ! DarkOliveGreen, ForestGreen
! URxvt*color2: #107010
! URxvt*color10: #308030
! ! DarkOrange, GoldenRod
! URxvt*color3: #F07000
! URxvt*color11: #FF8010
! ! Navy, RoyalBlue4
! URxvt*color4: #2626C0
! URxvt*color12: #2A3AC0
! ! DeepPink, DarkVioletRed
! URxvt*color5: #B020A0
! URxvt*color13: #E020A0
! ! DeepSkyBlue4
! URxvt*color6: #4050B0
! URxvt*color14: #5060C0
! ! SlateGray
! URxvt*color7: #708090
! URxvt*color15: #90A0B0

#include ".config/solarized-light.Xresources"
